<div class="sta-action-chooser">
  <section class="sta-action-chooser-header">
    <div class="sta-action-chooser-title">
      {{#if canSwitchSet}}
        <select class="sta-action-chooser-title__select" aria-label="{{localize 'sta-utils.actionChooser.changeSet'}}">
          {{#each actionSets as |set|}}
            <option value="{{set.id}}" {{#if set.selected}}selected{{/if}}>{{set.label}}</option>
          {{/each}}
        </select>
      {{else}}
        {{actionSetLabel}}
      {{/if}}
    </div>
    {{#if isEmbedded}}
    <button type="button" class="sta-action-chooser-popout-btn" title="{{localize "sta-utils.actionChooser.popOut"}}">
      <i class="fas fa-external-link-alt"></i>
    </button>
    {{/if}}
    <div class="sta-actor-indicator {{#unless hasActor}}sta-actor-indicator--empty{{/unless}}">
      <img class="sta-actor-indicator__img" src="{{actorImg}}" alt="{{actorName}}" />
      {{#if hasActorOptions}}
        <select class="sta-actor-indicator__select" aria-label="{{localize 'sta-utils.actionChooser.selectCharacter'}}">
          {{#unless hasActor}}
            <option value="" selected disabled>{{localize "sta-utils.actionChooser.selectCharacter"}}</option>
          {{/unless}}
          {{#each actorOptions as |actor|}}
            <option value="{{actor.id}}" {{#if actor.selected}}selected{{/if}}>{{actor.name}}</option>
          {{/each}}
        </select>
      {{else}}
        <span class="sta-actor-indicator__name">{{actorName}}</span>
      {{/if}}
    </div>
    {{#if showStarship}}
    <div class="sta-actor-indicator sta-starship-indicator {{#unless hasStarship}}sta-actor-indicator--empty{{/unless}}">
      <img class="sta-starship-indicator__img" src="{{starshipImg}}" alt="{{starshipName}}" />
      {{#if hasStarshipOptions}}
        <select class="sta-starship-indicator__select" aria-label="{{localize 'sta-utils.actionChooser.selectStarship'}}">
          {{#unless hasStarship}}
            <option value="" selected disabled>{{localize "sta-utils.actionChooser.selectStarship"}}</option>
          {{/unless}}
          {{#each starshipOptions as |ship|}}
            <option value="{{ship.id}}" {{#if ship.selected}}selected{{/if}}>{{ship.name}}</option>
          {{/each}}
        </select>
      {{else}}
        <span class="sta-actor-indicator__name">{{starshipName}}</span>
      {{/if}}
    </div>
    {{/if}}
  </section>

  {{!-- Ship Status (Reserve Power, Shields, Breaches) --}}
  {{#if shipStatus}}
  <section class="sta-ship-status">
    <div class="sta-ship-status-row">
      {{!-- Reserve Power Indicator --}}
      <div class="sta-reserve-power {{#unless shipStatus.reservePower.available}}sta-reserve-power--inactive{{/unless}}">
        <div class="sta-reserve-power__indicator">
          {{#if shipStatus.reservePower.available}}
            <div class="sta-reserve-power__active-bar"></div>
            <div class="sta-reserve-power__label">Reserve Power</div>
            {{#if shipStatus.reservePower.assigned}}
              <div class="sta-reserve-power__system">{{shipStatus.reservePower.systemLabel}}</div>
            {{else}}
              <div class="sta-reserve-power__system sta-reserve-power__system--unassigned">{{shipStatus.reservePower.systemLabel}}</div>
            {{/if}}
          {{else}}
            <div class="sta-reserve-power__label">No Reserve Power</div>
          {{/if}}
        </div>
      </div>

      {{!-- Shields Bar --}}
      <div class="sta-shields">
        <div class="sta-shields__header">
          <span class="sta-shields__label">Shields</span>
          <span class="sta-shields__value">{{shipStatus.shields.value}} / {{shipStatus.shields.max}}</span>
        </div>
        <div class="sta-shields__bar-container">
          <div class="sta-shields__bar" style="width: {{shipStatus.shields.percent}}%;"></div>
        </div>
      </div>
    </div>

    {{!-- System Breaches --}}
    {{#if shipStatus.hasBreaches}}
    <div class="sta-breaches">
      <div class="sta-breaches__header">System Breaches</div>
      <div class="sta-breaches__list">
        {{#each shipStatus.breaches as |breach|}}
          <div class="sta-breach-item">
            <span class="sta-breach-item__system">{{breach.systemLabel}}</span>
            <span class="sta-breach-item__count">{{breach.count}}</span>
          </div>
        {{/each}}
      </div>
    </div>
    {{/if}}
  </section>
  {{/if}}

  {{!-- Common Momentum Spends Quick Reference --}}
  <div class="sta-common-spends-row">
    <span class="sta-common-spends-row__item">{{localize "sta-utils.actionChooser.commonSpends.extraMajor"}}</span>
    <span class="sta-common-spends-row__sep">|</span>
    <span class="sta-common-spends-row__item">{{localize "sta-utils.actionChooser.commonSpends.extraMinor"}}</span>
    <span class="sta-common-spends-row__sep">|</span>
    <span class="sta-common-spends-row__item">{{localize "sta-utils.actionChooser.commonSpends.keepInitiative"}}</span>
  </div>

  {{!-- Minor Actions --}}
  {{#if hasMinorActions}}
  <section class="sta-action-chooser-section" data-section="minor">
    <h3>{{localize "sta-utils.actionChooser.minorActions"}}</h3>
    <div class="sta-action-split">
      <div class="sta-action-tabs">
        {{#each minorActions as |action|}}
          <button type="button"
            class="sta-action-tab{{#if action.isSubtle}} sta-action-tab--subtle{{/if}}"
            data-type="minor"
            data-tab-id="{{action.id}}"
            data-action-name="{{action.name}}"
            data-action-desc="{{action.description}}"
            data-action-roll="{{action.rollInfo}}"
            data-action-momentum="{{action.momentumText}}">
            <span class="sta-action-tab__name">{{action.name}}</span>
          </button>
        {{/each}}
      </div>
      <div class="sta-action-detail" data-type="minor">
        <div class="sta-action-detail__empty">{{localize "sta-utils.actionChooser.minorActions"}}</div>
      </div>
    </div>
  </section>
  {{/if}}

  {{!-- Major Actions --}}
  {{#if hasMajorActions}}
  <section class="sta-action-chooser-section" data-section="major">
    <h3>{{localize "sta-utils.actionChooser.majorActions"}}</h3>
    <div class="sta-action-split">
      <div class="sta-action-tabs">
        {{#each majorActions as |action|}}
          <button type="button"
            class="sta-action-tab{{#if action.isSubtle}} sta-action-tab--subtle{{/if}}"
            data-type="major"
            data-tab-id="{{action.id}}"
            data-action-name="{{action.name}}"
            data-action-desc="{{action.description}}"
            data-action-roll="{{action.rollInfo}}"
            data-action-momentum="{{action.momentumText}}">
            <span class="sta-action-tab__name">{{action.name}}</span>
          </button>
        {{/each}}
      </div>
      <div class="sta-action-detail" data-type="major">
        <div class="sta-action-detail__empty">{{localize "sta-utils.actionChooser.majorActions"}}</div>
      </div>
    </div>
  </section>
  {{/if}}

  {{!-- Social Tools --}}
  {{#if hasSocialTools}}
  <section class="sta-action-chooser-section" data-section="social">
    <h3>{{localize "sta-utils.actionChooser.socialTools"}}</h3>
    <div class="sta-action-split">
      <div class="sta-action-tabs">
        {{#each socialTools as |action|}}
          <button type="button"
            class="sta-action-tab{{#if action.isSubtle}} sta-action-tab--subtle{{/if}}"
            data-type="social"
            data-tab-id="{{action.id}}"
            data-action-name="{{action.name}}"
            data-action-desc="{{action.description}}"
            data-action-roll="{{action.rollInfo}}"
            data-action-momentum="{{action.momentumText}}">
            <span class="sta-action-tab__name">{{action.name}}</span>
          </button>
        {{/each}}
      </div>
      <div class="sta-action-detail" data-type="social">
        <div class="sta-action-detail__empty">{{localize "sta-utils.actionChooser.socialTools"}}</div>
      </div>
    </div>
  </section>
  {{/if}}
</div>
