<div class="sta-launcher-sections">
  {{#each sections}}
  <div class="sta-launcher-section">
    {{#if label}}<div class="sta-launcher-section-header">{{label}}</div>{{/if}}
    <div class="sta-launcher-grid">
      {{#each items}}
      <button class="sta-launcher-btn" type="button" data-item-id="{{id}}" title="{{label}}" draggable="true">
        {{#if img}}
        <img class="sta-launcher-img" src="{{img}}" alt="" aria-hidden="true">
        {{else}}
        <i class="fa-solid {{icon}}"></i>
        {{/if}}
        <span>{{label}}</span>
      </button>
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>
