<div class="sta-tracker-button-divider sta-officers-log-divider"></div>
<div class="sta-tracker-button-group sta-officers-log-group" data-module="{{moduleId}}">
  <button type="button" id="sta-officers-log-open-button" class="button sta-officers-log-open" title="{{localize "sta-officers-log.tools.sendPrompt"}}" aria-label="{{localize "sta-officers-log.tools.sendPrompt"}}" data-action="openCallback">
    <i class="fa-solid fa-reply fa-fw" aria-hidden="true"></i>
  </button>
  <button type="button" id="sta-officers-log-reset-button" class="button sta-officers-log-reset" title="{{localize "sta-officers-log.tools.resetMission"}}" aria-label="{{localize "sta-officers-log.tools.resetMission"}}" data-action="resetMission">
    <i class="fa-solid fa-book fa-fw" aria-hidden="true"></i>
  </button>
  <button type="button" id="sta-officers-log-new-scene-button" class="button sta-officers-log-new-scene" title="{{localize "sta-officers-log.tools.newScene"}}" aria-label="{{localize "sta-officers-log.tools.newScene"}}" data-action="newScene">
    <i class="fa-solid fa-clapperboard fa-fw" aria-hidden="true"></i>
  </button>
</div>
